.btn{     
    background: var(--primary);
    color: white;
    padding: 1rem 15%;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    font-size: 18px;
    font-weight: 700;
    display: block;
    border-radius: 4px;

    transition: var(--transition);
    transition-property: var(--transition-prop);
}

.content .btn:hover{
    /* opacity: .8; */
    background: var(--primary-dark);
}