section {
  padding: 2rem 10%;
  display: flex;
  gap: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content h3 {
  font-size: 4.5rem;
  width: 80%;
  font-weight: 900;
  color: var(--primary)
  /* color: var(--dark); */
}

.content p {
  padding-top: 1rem;
  margin-bottom: 2rem;
  font-size: 18px;
  text-transform: none;
  line-height: 2rem;
}

.image {
  flex: 1 1 45rem;
  height: 80vh;
}

.image img {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow-darker);
}

.float {
  animation: float 2.5s linear infinite;
}

@keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }
}

.content-btn{
  background: var(--primary);
  padding: 1rem 15%;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  font-size: 18px;
  font-weight: 700;
  display: block;
  border-radius: 4px;

  transition: var(--transition);
  transition-property: var(--transition-prop);
}

.content-btn a{
  color: white;
}

@media (max-width: 959px) {
  .content {
    display: block;
  }

  .content h3 {
    font-size: 4rem;
    text-align: center;
  }
  
  .content p {
    width: 55%;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
  }

  .content-btn{
    width: 50%;
    margin: auto;
  }

  .image {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .content h3 {
    font-size: 3rem;
    margin: auto;
  }
}
