*{
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .4s linear;
    color: black;
}


header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 2.5rem;
    margin-right: 10px;
}

.logo h2{
    color: var(--primary);
    font-weight: 900;
    font-size: 2rem;
}

.navigation{
    display: flex;
    align-items: center;
}

button{
    background-color: none;
}

.toggle-menu {
    display: none;
    border: none;
    cursor: pointer;

    width: 40px;
    height: 40px;
}
  
.burger {
    display: block;
}

.burger i{
    font-size: 1.8rem;
    background-color: none;
}

.navbar a{
    font-size: 1.1rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
}

.navbar a:hover{
    opacity: .6;
}

@media (max-width: 959px){

    .logo h2{
        font-size: 1.6rem;
    }
    

}

@media (max-width: 768px) {

    .logo h2{
        font-size: 1.8rem;
    }
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem;
        background-color: var(--primary);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
    
    .toggle-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .show-menu {
    display: flex;
    flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    
  }
  
  /* Styles for screens that are between 768px and 1024px */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    
  }
  
  /* Styles for screens that are larger than 1200px */
  @media screen and (min-width: 1200px) {
    
  }