.p-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.p-title{
    
}
.p-card{
    background: #fff;
    padding: 15px;
    box-shadow: var(--box-shadow-darker);
    border: none;
    border-radius: 10px;

    display: flex;
    gap: 30px;

    height: 80vh;
}

.p-left{
    flex: 1;
    padding-top: 20px;
    margin: 10px;
    background: blue;
    width: 40%;
}

.p-left--title{
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 20px;
}

.p-left--title span{
    display: block;
    font-weight: 400;
}

.p-left--text{
    font-size: 14px;
    text-align: justify;
    width: 90%;
}

.p-left--img{
    position: relative;
    width: 600px;
}

.p-left--img img{
    width: 100%;
    position: absolute;
    left: -160px;
    top: 17px;
    background-clip: border-box;
}

.p-right{
    flex: 2;
    width: 60%;
}

.p-right--title{
    padding-top: 60px;
}