@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

:root{
  --primary: #8F00FF;
  --secondary: #fd5602;
  --light-color: #fa816c;
  --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  --gradient: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
  --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
